$color-principal: rgba(213, 181, 156);
$color-main-light: #ff0000 ;
$color-fondo: rgba(243, 240, 236) ;
$color-fondo-carrito: #c5c5c579 ;
$color-papelera: rgba(231, 0, 0, 0.616) ;
$color-texto: black;
$color-texto-principal: rgb(0, 0, 0);
$color-texto-contenedor: rgb(0, 0, 0);
$color-contenedor: rgba(213, 181, 156);
$color-texto-agregar: rgb(136, 97, 67);
$color-ico-redes: rgb(255, 255, 255);
$color-texto-agregar-hover-carrito-vacio: rgb(87, 62, 43);
$color-letra-carrito: rgb(87, 62, 43);
